* {
    font-family:initial;
    color: white;
    letter-spacing: 1px;
    font-weight:100;
}

body {
    background: linear-gradient(-45deg, #0d1c3f, #000000);
}

a:hover {
    color: rgb(106, 119, 164);
 }

p {
    font-family: Helvetica;
    font-size: 17px;
    text-align: left;
}

nav {
    overflow: auto;
    padding: 18px 50px;
    top: 0;
    width: 100%;
    z-index: 999;
    color: white;
} 


li a {
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
  }

  li a:hover:not(.active) {
    background-color: #555;
    color: white;
  }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
}

h1 {
    font-size: 26px;
}

h2 {
    font-size: 23px;
}

#navv {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    color: white;
    border: 2px solid rgb(106, 119, 164);
}

#silksong {
    background-color: rgb(203, 70, 70);
    margin:auto;
}

#top {
    background-image: url("c:\Users\27WilliamsDanette\Downloads\Atmos_snippet.gif");
}

#hk-section {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
}


form {
    color: white;
}

.creators {
    padding-bottom: 40px;
}

#gm {
    padding-bottom: 50px;
}