* {
    font-family:initial;
    color: white;
    letter-spacing: 1px;
    font-weight:100;
}

body {
    background: linear-gradient(#000000, #081127);
    margin-left: 10px;
    margin-right: 10px;
}

a:hover {
    color: rgb(106, 119, 164);
 }

p {
    font-family: Helvetica;
    font-size: 17px;
    text-align: left;
}

nav {
    overflow: auto;
    padding: 18px 50px;
    top: 0;
    width: 100%;
    z-index: 999;
    color: white;
} 


li a {
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
  }

  li a:hover:not(.active) {
    background-color: #555;
    color: white;
  }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
}

h1 {
    font-size: 26px;
}

h2 {
    font-size: 23px;
}



#navv {
    list-style-type: none;
    width: 200px;
    color: white;
    border: 2px solid rgb(106, 119, 164);
}

#silksong {
    background: linear-gradient( rgb(234, 83, 83), rgb(45, 15, 15));
    margin: 0px;
}

#hk-section {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
}


form {
    color: white;
}

.creators {
    padding-bottom: 40px;
}

#gm {
    padding-bottom: 50px;
}

#hk_title {
    position: absolute;
    z-index: 2;
    left: 50px;
    padding: 0px 50px;
    margin-top: 7%;
    padding-left: 18%;

}

#hk_gif {
    position: absolute;
    z-index: 1;
    left: 50px;
    background-size: cover;
    padding-left: 2%;
}

#danette {
    padding-top: 450px;
}

#tc {
    border-radius: 50%
}

#the-knight {
    position: fixed;
}

#gt {
    padding: 2% 20% 0% 4%
}

#gm {
    padding: 2% 20% 0% 4%
}

#lb {
    padding: 2% 20% 0% 4%
}

#hd {
    padding: 2% 20% 0% 4%
}